h1 {
  text-align: center;
  color: #660099;
}

h3 {
  text-align: left;
  color: #9933CC;
}

body {
  font-family: arial;
}

.sectiontitle {
  margin: 10px;
  padding: 10px;
  border-radius: 4px;
  color: black;
  background-color: #9999CC; 
}

.lessontitle {
  margin: 8px;
  text-align: center;
  background-color: #9999CC;
  padding: 10px;
  border-radius: 4px;
  color: black;
}

.ideas {
  background-color: #E0E0E0;
  padding: 10px;
  margin: 10px;
  border-radius: 4px;
  color: black;
}

.background {
  background-color: #6600CC;
  padding: 10px;
  margin: 10px;
  border-radius: 4px
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.img {
  text-align: center;
}